<section class="search-bar">
  <div class="row-fluid shadow-bottom">
    <div class="span3 title">
      <h4><a href="/">RaceSurfer</a></h4> 
    </div>
  
    <div class="span6 input-append">
      <form data-ng-submit="search()">
        <input type="text" class="input-large not-rounded" data-ng-disabled="!geolocationLoaded || !geolocationEnabled" placeholder="(e.g. 5K, 10K, Marathon)" data-ng-model="data.term">
        <span class="add-on search" title="Search" data-ng-click="search()" data-ng-show="geolocationLoaded && geolocationEnabled"><i class="icon-search"></i></span> 
      </form>
    </div>
  
    <div class="span3 credits text-right">
      <a href="http://developer.active.com/">
        <img ng-src="{{ activeLogo }}" alt="Powered by Active" width="247" height="30">
      </a>
    </div>
  </div>
</section>

<section class="content clear">
  <div class="row-fluid">
    <div class="span3 sidebar shadow-right">
      <div class="text-center summary">
        <span data-ng-hide="!geolocationEnabled || geolocationLoaded">
          Press "Allow" when prompted for access to your location. This allows the application to search for race events near you.
        </span>
        <span data-ng-hide="geolocationEnabled">
          <i class="icon-warning-sign"></i>
          This application requires the use of geolocation. Please use a browser that supports geolocation, or allow geolocation to determine your location.
        </span>
        <span data-ng-show="loaded()">
          Enter a search term above to populate results.
        </span>
        <span data-ng-show="isSearching">
          <img class="loader" data-ng-src="{{ loading }}"> Loading...
        </span>
        <span data-ng-show="finished()">
          Your search returned {{ items.length }} results.
        </span> 
      </div>
      <ul class="nav nav-stacked nav-pills nav-styled">
        <li data-ng-repeat="item in items">
          <a data-ng-click="expand($index)">
            <i class="icon-chevron-right pull-right" data-ng-class="{ 'icon-chevron-down': items[$index].shown }"></i>
            {{ item.title }} <br>  
          </a>
          <div class="info"> 
            {{ item.meta.city }}, {{ item.meta.eventState }} - 
            {{ item.meta.startDate | date:'MMMM d, yyyy' }} {{ item.meta.startTime }}
          </div>
          <div class="details fade-animation" data-ng-show="items[$index].shown"> 
            <a href="{{ item.url }}">Register</a> <br> 
            <div data-ng-bind-html="item.meta.allText | unsafe"></div>
          </div>
        </li>
      </ul>
    </div>
    <div class="span9 map-container">
      <div class="map"></div>
    </div>
  </div>
</section>