/* State CSS */
.no-margin {
  margin: 0;   
}
.no-padding {
  padding: 0; 
}

$shadow-color: #333;
.shadow-right {
  box-shadow: 5px 0 5px -5px $shadow-color;
}
.shadow-bottom {
  box-shadow: 0 3px 3px -3px $shadow-color;
}

.fade-animation.ng-hide-add, .fade-animation.ng-hide-remove {
  transition: 0.5s linear all;
  display: block !important;
}
.fade-animation.ng-hide-remove {
  opacity: 0;
}
.fade-animation.ng-hide-remove.ng-hide-remove-active {
  opacity: 1.0;
}
.fade-animation.ng-hide-add {
  opacity: 1.0;
}
.fade-animation.ng-hide-add.ng-hide-add-active {
  opacity: 0;
}